.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

p.error {
  padding: 10px;
  border: 1px solid red;
}

.app div {
  border: 1px solid #ff00ff;
}

.App div.query {
  flex: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

div#root {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

div.queryBuilder {
  height: 100%;

  display: flex;
  flex-direction: column;

  div.toolbar {
    border: 1px solid greenyellow;
    flex: 0 0 40px;
  }

  div.body {
    border: 1px solid magenta;
    flex: 1;
    overflow: hidden;

    display: flex;

    div.sideBar {
      flex: 0 0 40px;
      border: 1px solid blue;
    }

    div.editor {
      flex: 1;
      min-width: 300px;
    }

    div.grid {
      flex: 3;
      overflow: hidden;

      display: flex;
      flex-direction: column;

      & > div {
        flex: 1;
      }
    }
  }
}
