.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

p.error {
  padding: 10px;
  border: 1px solid red;
}

.app div {
  border: 1px solid #ff00ff;
}

.App div.query {
  flex: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

div#root {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

div.queryBuilder {
  height: 100%;

  display: flex;
  flex-direction: column;

  div.toolbar {
    flex: 0 0 40px;
    background-color: black;
  }

  div.body {
    flex: 1;
    overflow: hidden;

    display: flex;

    div.sideBar {
      text-align: center;
      flex: 0 0 40px;

      background-color: darkgray;

      svg {
        padding: 5px;

        &.selected {
          background-color: lightblue;
        }
      }
      svg:hover {
        background-color: lightblue;
        cursor: pointer;
      }
    }

    div.sidebarContainer {
      flex: 1;
      max-width: 0px;
      min-width: 0px;
      transition: all 0.5s ease;
      background-color: lightgray;
      border-right: 1px solid black;

      &.displayed {
        min-width: 300px;
        max-width: auto;
      }

      h2 {
        background-color: #b3b3b3;
        border-bottom: 1px solid black;
        text-align: center;
        margin: 0px;
      }

      div.functions {
        div.function {
          padding: 5px;
          margin: 5px;
          border: 1px solid darkgray;

          div.name {
            font-weight: bold;
            font-size: 1.2em;

            span.name {
              text-decoration: underline;

              &:hover {
                cursor: pointer;
                color: blue;
              }
            }
            span.signature {
              color: darkgray;
            }
            span.module {
              font-weight: normal;
              font-size: 0.8em;
              font-style: italic;
              margin-left: 10px;
            }
          }
          div.description {
            padding: 5px;
            font-size: 0.8em;
          }
        }
      }
    }

    div.editorContainer {
      flex: 1;
      min-width: 300px;

      display: flex;
      flex-direction: column;

      & > section {
        flex: 1 1;
        min-height: 0px;
      }
      div.error {
        padding: 5px;
        max-height: 25%;
        min-height: 25%;
        overflow-y: scroll;
        background-color: #ffdddd;
        border: 1px solid #ff0000;
        flex: 0 0 40px;
      }
      div.buttons {
        background-color: lightgray;
        padding: 5px;
        flex: 0 0 64px;

        button {
          height: 100%;
          float: right;
          padding: 5px;
        }
      }
    }

    div.gridContainer {
      flex: 3;
      overflow: hidden;

      display: flex;
      flex-direction: column;

      div.grid {
        flex: 1;
      }
    }
  }
}
